<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicole.fitness_predictor">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.example.nicole.fitness_predictor.FitnessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherLoginActivity"
            android:label="@string/title_activity_weather_login"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration"></activity>
        <activity
            android:name=".FitnessFragment"
            android:label="@string/title_activity_fitness"></activity>
        <activity
            android:name=".WeatherGrapher"
            android:label="WeatherGrapher"></activity>
        <activity
            android:name=".WeatherPickerActivity"
            android:label="WeatherPicker"></activity>
    </application>

</manifest>
